FLASK_APP=app.py
HOSTNAME='http://localhost:8001'
SECRET_KEY='[YOUR_SECRET_KEY]'
DB_ENGINE='postgresql'
DB_USERNAME='[YOUR_DB_USERNAME]'
DB_PASSWORD='[YOUR_DB_PASSWORD]'
DB_HOST='localhost'
DB_PORT='5432'
DB_NAME='[YOUR_DB_NAME]'
DEBUG=True
